<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CBV Blog {% endblock %}</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">

    <style>
        .text-center{
            text-align: center;
        }
        
    </style>
    {% block css %}
    
    {% endblock %}
</head>
<body>
    <header>

        <menu>
            <!-- <div> -->
                
                <li><a href="{% url 'blog:blog-list' %}">Home</a></li>
                <li><a href="">Profile</a></li>
                <li><a href="" class="disabled">about</a></li>
        </menu>
        <!-- <input type="text"> -->
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>